# MuleSoft Assessment
<h4><i>Submitted by:</i></h4>
<blockquote>Anusha Subramanyam <br /> Vidyavardhaka College of Engineering <br /> CSE-A, 4VV19CS015</blockquote>

In [1]:
import sqlite3
import pandas as pd

### Creating Database

In [2]:
conn = sqlite3.connect('Movie.db')
print("Database Created")

Database Created

In [3]:
conn = sqlite3.connect(':memory:')

In [4]:
cur = conn.cursor()

### Creating Table

In [5]:
conn.execute("""CREATE TABLE movies(
            name text, 
            actor text,
            actress text,
            director text,
            year_of_release integer
            )""")
print("Table Created")

Table Created

### Inserting Values into the table

In [6]:
def insert_data(name, actor, actress, director, year_of_release):
    cur.execute("INSERT INTO movies VALUES (?, ?, ?, ?, ?)", 
                (name, actor, actress, director, year_of_release))

In [7]:
insert_data('Kabhi Khushi Kabhi Ghum', 'SRK', 'Kajol', 'Karan Johar', 2001)

In [8]:
insert_data('Heropanti','Tiger Shroff','Kriti Sanon','Sabbir Khan',2014)

In [9]:
insert_data('Krrish','Hrithik Roshan','Priyanka Chopra','Rakesh Roshan',2003)

In [10]:
insert_data('Chennai Express','SRK','Deepika','Rohit Shetty',2013)

In [11]:
insert_data('URI','Vicky Kaushal','Yami Gautam','Aditya Dhar',2019)

In [12]:
insert_data('Kesari','Akshay Kumar','Parineeti Chopra','Anurag Singh',2019)

In [13]:
insert_data('Bhaghi-3','Tiger Shroff','Shradha kapoor','Ahmed Khan',2020)

In [14]:
insert_data('Mission Mangal','Akshay Kumar','Vidya Balan','Jagan Shakti',2019)

In [15]:
insert_data('Raazi','Vicky Kaushal','Alia Bhat','Meghana Gulzar',2018)

In [16]:
insert_data('Shershaah','Sidharth Malhotra','Kiara Advani','Vishnuvardhan',2021)

### Querying data from the database

* ### Querying the movies table using SELECT statement

In [17]:
data = cur.execute("SELECT * FROM movies")
rows = cur.fetchall()
for i in rows:
    print(i)

('Kabhi Khushi Kabhi Ghum', 'SRK', 'Kajol', 'Karan Johar', 2001)
('Heropanti', 'Tiger Shroff', 'Kriti Sanon', 'Sabbir Khan', 2014)
('Krrish', 'Hrithik Roshan', 'Priyanka Chopra', 'Rakesh Roshan', 2003)
('Chennai Express', 'SRK', 'Deepika', 'Rohit Shetty', 2013)
('URI', 'Vicky Kaushal', 'Yami Gautam', 'Aditya Dhar', 2019)
('Kesari', 'Akshay Kumar', 'Parineeti Chopra', 'Anurag Singh', 2019)
('Bhaghi-3', 'Tiger Shroff', 'Shradha kapoor', 'Ahmed Khan', 2020)
('Mission Mangal', 'Akshay Kumar', 'Vidya Balan', 'Jagan Shakti', 2019)
('Raazi', 'Vicky Kaushal', 'Alia Bhat', 'Meghana Gulzar', 2018)
('Shershaah', 'Sidharth Malhotra', 'Kiara Advani', 'Vishnuvardhan', 2021)

In [18]:
col_names = [cn[0] for cn in cur.description]

In [19]:
print("{:25} {:20} {:20} {:20} {:4}".format(col_names[0], col_names[1], col_names[2], col_names[3], col_names[4]))
for row in rows:
    print("{:<25} {:<20} {:20} {:20} {:4}".format(row[0], row[1], row[2], row[3], row[4]))

name                      actor                actress              director             year_of_release
Kabhi Khushi Kabhi Ghum   SRK                  Kajol                Karan Johar          2001
Heropanti                 Tiger Shroff         Kriti Sanon          Sabbir Khan          2014
Krrish                    Hrithik Roshan       Priyanka Chopra      Rakesh Roshan        2003
Chennai Express           SRK                  Deepika              Rohit Shetty         2013
URI                       Vicky Kaushal        Yami Gautam          Aditya Dhar          2019
Kesari                    Akshay Kumar         Parineeti Chopra     Anurag Singh         2019
Bhaghi-3                  Tiger Shroff         Shradha kapoor       Ahmed Khan           2020
Mission Mangal            Akshay Kumar         Vidya Balan          Jagan Shakti         2019
Raazi                     Vicky Kaushal        Alia Bhat            Meghana Gulzar       2018
Shershaah                 Sidharth Malhotra    Kiara Advani         Vishnuvardhan        2021

In [20]:
#DataFrame Representation
data = cur.execute("SELECT * FROM movies")
pd.DataFrame(data)

,0,1,2,3,4
0,Kabhi Khushi Kabhi Ghum,SRK,Kajol,Karan Johar,2001
1,Heropanti,Tiger Shroff,Kriti Sanon,Sabbir Khan,2014
2,Krrish,Hrithik Roshan,Priyanka Chopra,Rakesh Roshan,2003
3,Chennai Express,SRK,Deepika,Rohit Shetty,2013
4,URI,Vicky Kaushal,Yami Gautam,Aditya Dhar,2019
5,Kesari,Akshay Kumar,Parineeti Chopra,Anurag Singh,2019
6,Bhaghi-3,Tiger Shroff,Shradha kapoor,Ahmed Khan,2020
7,Mission Mangal,Akshay Kumar,Vidya Balan,Jagan Shakti,2019
8,Raazi,Vicky Kaushal,Alia Bhat,Meghana Gulzar,2018
9,Shershaah,Sidharth Malhotra,Kiara Advani,Vishnuvardhan,2021

* ### Query with parameter like actor name to select movies based on the actor's name

In [21]:
cur.execute("SELECT * FROM movies WHERE actor=:actor",{"actor":"SRK"})
for i in cur:
    print(i)

('Kabhi Khushi Kabhi Ghum', 'SRK', 'Kajol', 'Karan Johar', 2001)
('Chennai Express', 'SRK', 'Deepika', 'Rohit Shetty', 2013)

In [22]:
#DataFrame Representation 
pd.DataFrame(cur.execute("SELECT * FROM movies WHERE actor=:actor",{"actor":"SRK"}))

                         0    1        2             3     4
0  Kabhi Khushi Kabhi Ghum  SRK    Kajol   Karan Johar  2001
1          Chennai Express  SRK  Deepika  Rohit Shetty  2013

* ### Query with parameter like year to select movies released after 2014

In [23]:
cur.execute("SELECT name, director, year_of_release FROM movies WHERE year_of_release>=2014")
for i in cur:
    print(i)

('Heropanti', 'Sabbir Khan', 2014)
('URI', 'Aditya Dhar', 2019)
('Kesari', 'Anurag Singh', 2019)
('Bhaghi-3', 'Ahmed Khan', 2020)
('Mission Mangal', 'Jagan Shakti', 2019)
('Raazi', 'Meghana Gulzar', 2018)
('Shershaah', 'Vishnuvardhan', 2021)

In [24]:
#DataFrame Representation 
pd.DataFrame(cur.execute("SELECT name, director, year_of_release FROM movies WHERE year_of_release>=2014"))

                0               1     2
0       Heropanti     Sabbir Khan  2014
1             URI     Aditya Dhar  2019
2          Kesari    Anurag Singh  2019
3        Bhaghi-3      Ahmed Khan  2020
4  Mission Mangal    Jagan Shakti  2019
5           Raazi  Meghana Gulzar  2018
6       Shershaah   Vishnuvardhan  2021

### Closing Database

In [25]:
cur.close()
conn.commit()
print("Database Closed")

Database Closed